.list-item {
    margin-bottom: 5px;
}

.make {
    background-color: #379de8;
    font-size: 20px;
    padding: 10px 20px;
}

.model {
    background-color: #82bbe4;        
    font-size: 18px;
    margin: 1px 0 1px 20px;    
    padding: 10px 20px;
}

.show {
    background-color: #c9e2f5;
    font-size: 16px;
    margin-left: 40px;
    padding: 10px 20px;
    margin-bottom: 1px;
}

