<div>
  <div *ngIf="!(carShowsGroupedByMakeModel$ | async)" class="info-msg">
    No records found!
  </div>

  <div
    *ngFor="let carMakeModel of (carShowsGroupedByMakeModel$ | async | keyvalue)"
    class="list-item"
  >
    <div class="make">
      {{ carMakeModel.key }}
    </div>

    <div *ngFor="let carModelShow of (carMakeModel.value | keyvalue)">
      <div class="model">- {{ carModelShow.key }}</div>

      <div *ngFor="let show of carModelShow.value">
        <div class="show" (click)="selectCarShow(show)">- {{ show }}</div>
      </div>
    </div>
  </div>
</div>
